body {
  font: caption;
  -webkit-user-select: none;
  cursor: default;
  color: #ccc;
  background-color: #222;
}
html, body, #root {
  height: 100%;
}
body {
  overflow: hidden;
}
.app, .list {
  height: 100%;
}
.todo-menu {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}
.todo-list {
  height: calc(100% - 55px);
  margin-top: 55px;
  overflow-y: auto;
  padding: 10px;
  ul, li {
    list-style: none;
  }
  ul {
    padding: 0;
  }
  li {
    padding: 15px;
    font-size: 14px;
    color: #fff;
    background: #666;
    margin-top: 5px;
    border-radius: 8px;
    position: relative;

    .todoOperation {
      display: none;
    }

    &:hover {
      .todoOperation {
        font-size: 18px;
        padding: 0 20px 0 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        border-radius: 0 8px 8px 0;
          cursor: pointer;
          background: linear-gradient(to right, #666, #777 20%, #888);
      }
    }
  }
}
.add-container {
  padding: 10px;
  .add-back-btn {
    font-size: 15px;
    margin: 5px 0 13px;
    cursor: pointer;
  }
  .add-wrap {
    position: relative;
    textarea {
      margin: 0px;
      width: 100%;
      height: 210px;
      border-radius: 8px;
      background: rgba(0,0,0,0.2);
      color: #fff;
      border: 1px solid #333;
      outline: none;
      font-size: 14px;
      padding: 10px;
      resize: none;
    }
    .add-btn {
      font-size: 22px;
      position: absolute;
      right: 5px;
      bottom: 5px;
      cursor: pointer;
      padding: 5px;
    }
  }
}


/* override */

.ui.secondary.pointing.menu a.item {
  color: #aaa;

  &.active {
    color: #eee;
    border-color: #5cacfb;
    &:hover {
      color: #eee;
      border-color: #5cacfb;
    }
  }

  &:hover {
    color: #ccc;
  }
}
